/* Full-Screen Container */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* The Glass Card */
.content {
    text-align: center;
    background: rgba(217, 251, 122, 0.75); /* Transparent white */
    backdrop-filter: blur(1px);          /* Blur effect */
    -webkit-backdrop-filter: blur(10px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
    max-width: 400px;
}

.logoContainer {
    margin-bottom: 20px;
}

.logoImage {
    width: 120px;
    height: auto;
}

.title {
    font-size: 5 rem;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    margin-bottom: 30px;
    font-weight: 700;
}

/* Button Base Styles */
.btn {
    display: block;
    width: 100%;
    padding: 14px;
    margin: 15px 0;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.farmerBtn {
    background-color: #116b15;
    color: white;
}

.farmerBtn:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.buyerBtn {
    background-color: #135322;
    color: white;
}

.buyerBtn:hover {
    background-color: #1e7e34;
    transform: translateY(-2px);
}


.adminBtn {
    background-color: #06260d;
    color: white;
}

.adminBtn:hover {
    background-color: #1e7e34;
    transform: translateY(-2px);
}
